.container {
    margin: auto;
    /* background-color: aqua; */
    width: 600px;
    height: 600px;
}
.guild-container {
    width: 600px;
    height: 600px;
    /* background-color: blueviolet; */
    display: flex;
    position: relative;
    top: -600px;
}
.guildpact {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-self: center;
}
.azorius {
    z-index: 10;
    position: absolute;
    left: 40.85%;
    top: 8.7%;
    width: 120px;
    height: 120px;
    /* background-color: #86CFF0; */
    border-radius: 50%
}
.boros {
    z-index: 10;
    position: absolute;
    left: 11.2%;
    top: 49.5%;
    width: 120px;
    height: 120px;
    /* background: #AF4904; */
    border-radius: 50%
}
.dimir {
    z-index: 10;
    position: absolute;
    right: 9.6%;
    top: 30.1%;
    width: 120px;
    height: 120px;
    /* background: #5068C0; */
    border-radius: 50%
}
.golgari {
    z-index: 10;
    position: absolute;
    left: 40.7%;
    top: 71%;
    width: 120px;
    height: 120px;
    /* background: #667B32; */
    border-radius: 50%
}
.gruul {
    z-index: 10;
    position: absolute;
    left: 22.5%;
    top: 65%;
    width: 120px;
    height: 120px;
    /* background: #AA4E32; */
    border-radius: 50%
}
.izzet {
    z-index: 10;
    position: absolute;
    right: 9.7%;
    top: 49.5%;
    width: 120px;
    height: 120px;
    /* background: #89404A; */
    border-radius: 50%
}
.orzhov {
    z-index: 10;
    position: absolute;
    right: 21%;
    top: 14.5%;
    width: 120px;
    height: 120px;
    /* background: #A68EA4; */
    border-radius: 50%
}
.rakdos {
    z-index: 10;
    position: absolute;
    right: 21%;
    top: 65%;
    width: 120px;
    height: 120px;
    /* background: #A60F0F; */
    border-radius: 50%
}
.selesnya {
    z-index: 10;
    position: absolute;
    left: 11%;
    top: 30.1%;
    width: 120px;
    height: 120px;
    /* background: #86B649; */
    border-radius: 50%
}
.simic {
    z-index: 10;
    position: absolute;
    left: 22.4%;
    top: 14.7%;
    width: 120px;
    height: 120px;
    /* background: #388E5D; */
    border-radius: 50%
}
.azorius img {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 16.5%;
    top: 9.4%;
    visibility: hidden;
}
.azorius:hover img {
    visibility: visible;
}
.boros img {
    position: absolute;
    width: 84px;
    height: 83px;
    left: 14.5%;
    top: 15%;
    visibility: hidden;
}
.boros:hover img {
    visibility: visible;
}
.dimir img {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 14%;
    top: 18%;
    visibility: hidden;
}
.dimir:hover img {
    visibility: visible;
}
.golgari img {
    position: absolute;
    width: 86px;
    height: 86px;
    left: 14.3%;
    top: 15%;
    visibility: hidden;
}
.golgari:hover img {
    visibility: visible;
}
.gruul img {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 13.5%;
    top: 13.5%;
    visibility: hidden;
}
.gruul:hover img {
    visibility: visible;
}
.izzet img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 12.5%;
    top: 11.3%;
    visibility: hidden;
}
.izzet:hover img {
    visibility: visible;
}
.orzhov img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 17%;
    top: 17%;
    visibility: hidden;
}
.orzhov:hover img {
    visibility: visible;
}
.rakdos img {
    position: absolute;
    width: 94px;
    height: 94px;
    left: 10.5%;
    top: 10%;
    visibility: hidden;
}
.rakdos:hover img {
    visibility: visible;
}
.selesnya img {
    position: absolute;
    width: 87px;
    height: 88px;
    left: 14.1%;
    top: 14%;
    visibility: hidden;
}
.selesnya:hover img {
    visibility: visible;
}
.simic img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 17%;
    top: 16.5%;
    visibility: hidden;
}
.simic:hover img {
    visibility: visible;
}
#active img {
    visibility: visible;
}